.Buttons {
  display: flex;
  flex-wrap: wrap;
}

.Numbers {
  flex: 1 0 21%;
  width: 20%;
  height: 60px;
  font-size: 25px;
  color: rgb(255,255,255);
  outline: none;
  background-color: rgb(246,130,122);
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
  font-weight: 500;
}

.Zero {
  text-align: left;
  width: 50%;
  height: 60px;
  font-size: 25px;
  color: rgb(255,255,255);
  outline: none;
  background-color: rgb(246,130,122);
  padding: 0;
  padding-left: 28px;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
  font-weight: 500;
}

.Symbols {
  flex: 1 0 21%;
  width: 20%;
  height: 60px;
  font-size: 30px;
  outline: none;
  background-color: rgb(247,186,134);
  color: rgb(255,255,255);
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
  font-weight: 500;
}

.Cancel {
  flex: 1 0 21%;
  width: 20%;
  height: 60px;
  font-size: 25px;
  outline: none;
  background-color: rgb(236,71,92);
  color: rgb(255,255,255);
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
}

.Save {
  width: 50%;
  height: 60px;
  font-size: 25px;
  background-color: rgb(236,71,92);
  color: rgb(255,255,255);
  outline: none;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
}


.Decimal {
  flex: 1 0 21%;
  width: 20%;
  height: 60px;
  font-size: 25px;
  outline: none;
  background-color: rgb(246,130,122);
  color: rgb(255,255,255);
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
  font-weight: 500;
}

.Multiply {
  flex: 1 0 21%;
  width: 20%;
  height: 60px;
  font-size: 30px;
  outline: none;
  background-color: rgb(247,186,134);
  color: rgb(255,255,255);
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
  font-weight: 500;

  .SymbolRotation {
    transform: rotate(45deg);
  }
}

.Equals {
  width: 25%;
  height: 60px;
  font-size: 30px;
  outline: none;
  background-color: rgb(247,186,134);
  color: rgb(255,255,255);
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(77,87,91, 0.4);
  font-family: Avenir;
  font-weight: 500;
}

