.Wrapper {
  padding: 20px;
  text-align: right;
  background: rgb(41,54,59);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Expression {
  font-size: 25px;
  height: 20px;
  margin: 5px;
  text-align: right;
  color: rgb(77,87,91);
  font-family: Avenir;
}


.Result {
  font-size: 60px;
  margin: 5px;
  padding-bottom: 10px;
  text-align: right;
  color: rgb(255,255,255);
  font-family: Avenir;
}