$layout: 1 0 21%;

$font-type: Avenir;
$small-font: 25px;
$large-font: 30px;
$bold: 500;

$other-lines: none;
$horizontal-border: 1px solid rgba(77,87,91, 0.4);

$font-color: rgb(255,255,255);
$main-color: rgb(246,130,122);
$symbols-color: rgb(247,186,134);
$other-color: rgb(236,71,92);

$no-padding: 0;
$button-height: 60px;
$narrow: 20%;
$wide: 50%;

.Buttons {
  display: flex;
  flex-wrap: wrap;
}

.Numbers {
  flex: $layout;
  width: $narrow;
  height: $button-height;
  font-size: $small-font;
  color: $font-color;
  outline: $other-lines;
  background-color: $main-color;
  padding: $no-padding;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
  font-weight: $bold;
}

.Zero {
  width: $wide;
  height: $button-height;
  font-size: $small-font;
  color: $font-color;
  outline: $other-lines;
  background-color: $main-color;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
  font-weight: $bold;
  padding: $no-padding;
  padding-left: 28px;
  text-align: left;
}

.Symbols {
  flex: $layout;
  width: $narrow;
  height: $button-height;
  font-size: $large-font;
  outline: $other-lines;
  background-color: $symbols-color;
  color: $font-color;
  padding: $no-padding;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
  font-weight: $bold;
}

.Cancel {
  flex: $layout;
  width: $narrow;
  height: $button-height;
  font-size: $small-font;
  outline: $other-lines;
  background-color: $other-color;
  color: $font-color;
  padding: $no-padding;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
}

.Save {
  width: $wide;
  height: $button-height;
  font-size: $small-font;
  background-color: $other-color;
  color: $font-color;
  outline: $other-lines;
  padding: $no-padding;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
}


.Decimal {
  flex: $layout;
  width: $narrow;
  height: $button-height;
  font-size: $small-font;
  outline: $other-lines;
  background-color: $main-color;
  color: $font-color;
  padding: $no-padding;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
  font-weight: $bold;
}

.Multiply {
  flex: $layout;
  width: $narrow;
  height: $button-height;
  font-size: $large-font;
  outline: $other-lines;
  background-color: $symbols-color;
  color: $font-color;
  padding: $no-padding;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
  font-weight: $bold;

  .SymbolRotation {
    transform: rotate(45deg);
  }
}

.Equals {
  height: $button-height;
  font-size: $large-font;
  outline: $other-lines;
  background-color: $symbols-color;
  color: $font-color;
  padding: $no-padding;
  border: $other-lines;
  border-bottom: $horizontal-border;
  font-family: $font-type;
  font-weight: $bold;
  width: 25%;
}

