$font-type: Avenir;

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding: 20px;
  background: rgb(41,54,59);
}

.Expression {
  font-family: $font-type;
  height: 20px;
  margin: 5px;
  font-size: 25px;
  color: rgb(77,87,91);
}


.Result {
  font-family: $font-type;
  font-size: 60px;
  margin: 5px;
  padding-bottom: 10px;
  color: rgb(255,255,255);
}